/* Light Mode */

:root{

--bg:#ffffff;
--text:#111827;
--card:#f3f4f6;

}


/* Dark Mode */

[data-theme="dark"]{

--bg:#0f172a;
--text:#e2e8f0;
--card:#1e293b;

}


/* High Contrast */

[data-theme="contrast"]{

--bg:black;
--text:yellow;

}

body{

background:var(--bg);
color:var(--text);

transition:300ms ease;

}