*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter;
}

body{
background:linear-gradient(180deg,#1e4fa8,#9fb7d1);
min-height:100vh;
color:#1b2b44;
}

/* NAVBAR */

.navbar{
background:white;
padding:15px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

nav button{
border:none;
background:none;
margin-left:20px;
font-weight:600;
cursor:pointer;
}


/* HERO */

.hero{
text-align:center;
padding:70px 20px;
background:linear-gradient(135deg,#0f4fa3,#1d5fbf);
color:white;
}

.hero h1{
font-size:70px;
text-shadow:4px 4px 0 #0b2e5a;
}

.hero-tags span{
background:#d6e3f3;
padding:8px 15px;
border-radius:20px;
margin:5px;
display:inline-block;
color:#1b2b44;
}


/* MAIN */

main{
max-width:1200px;
margin:40px auto;
}


/* PAGE SYSTEM */

.page{
display:none;
}

.page.active{
display:block;
}


/* CARD */

.card{
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


/* STATS */

.stats{
display:flex;
gap:20px;
}

.statCard{
background:white;
flex:1;
padding:25px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}


/* BOARD */

.board{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:30px;
}

.column{
background:#e2e8f0;
padding:20px;
border-radius:15px;
}

.column button{
width:100%;
margin-top:10px;
background:#3b82f6;
color:white;
border:none;
padding:8px;
border-radius:8px;
cursor:pointer;
}


/* TASK */

.task{
background:white;
padding:12px;
border-radius:10px;
margin-bottom:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
display:flex;
justify-content:space-between;
align-items:center;
}

.task-buttons button{
border:none;
background:none;
cursor:pointer;
margin-left:5px;
}


/* SEARCH */

#searchInput{
padding:10px;
margin-top:10px;
width:300px;
border-radius:8px;
border:1px solid #ccc;
}


/* FOOTER */

footer{
text-align:center;
margin-top:40px;
color:#333;
}